<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOS</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/gsap.min.js">
    <link rel="stylesheet" href="static/sos.css">
    
</head>
<body>
    <div id="container">
        <button class="btn-upload" id="btn_upload">
          <svg viewBox="0 0 640 512" width="32">
            
          </svg>
          <span>SOS</span>
          <div class="progress"></div>
          <div class="check">
            <span></span>
            <span></span>
          </div>
        </button>
      </div>
      <script src="static/js/sos.js"></script>
      
</body>
</html>